.aboutLander2{
    width: 100%;
    min-height: 500px;
    align-items: center;
    background: linear-gradient(to right, #fff, #FAD4C1);
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 35px;
}
.border_radius{
    border-radius: 10px;
}
.border_filter{
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.borderRight{
    border-right: 1px solid #f1f1f1;
}
.borderRight:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.shop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 40px;
}
.shop_item{
    border-radius: 10px;
    background-color: #fff;
    padding: 4px;
}
.shop_description{
    background-color: rgb(189,18,61,.1);
    border-radius: 10px;
    padding: 20px
}
.add_to_cart{
    background-color: rgb(189,18,61,.7);
    border-radius: 100%;
    height: 30px;
    width: 30px;
    color: #fff;
    align-items: center;
    font-size: 24px;
    position: relative;
}
.add_to_cart div{
    position: absolute;
    top: -5px;
    left: 7px;
}

.townHall div:first-child{
    background-color: blue;
    color: blue;
}
.different.from.balaBlue{
    color: #005BAA;
}
.clothes .shop_description{
    background-color: rgb(0,91,170,.1);
}

.clothes .add_to_cart{
    background-color: rgb(0,91,170,.7);
}
.clothes .red{
    color: #005BAA;
}
.blue{
    color: #005BAA;
}

.carousel-indicators button{
    width: 5px !important;
    border-radius: 100%;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    display: none !important;
}

.aboutLander2 img{
    max-height: 406px;
}
.aboutLander2.xdf{
    background: linear-gradient(to right,#fff, #fff);
}
.classLanding_page{
    background: linear-gradient(to right, rgb(0,91,170,.09), #fff);
    width: 100%;
    min-height: 400px;
    
    padding: 35px;
}
.classDivider{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    max-width: 900px;
    margin: 0 auto;
}
.ClassHeader{
    font-size: 40px;
    font-weight: 200;
    line-height: 1.2;
}
.classesDescHeader{
    line-height: 1.2;
    font-size: 35px;
    font-weight: 800;
}
.diveid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    position: absolute;
    bottom: -160px;
}
.text_align_center{
    padding-top: 40px;
}
.diveid img{
    max-width: 180px;
    border-radius: 4px;
}
.model_class_CONtainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 40px;
}
.mageHeader{
    background-color: #005BAA;
    border-radius: 10px;
    padding: 20px;
    display: flex;
}
.upcoming_mag_Btn2{
    color: #fff;
    background-color: rgb(207,12,54,.9);
    display: inline-block;
    max-width: 150px;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    padding: 8px 20px;
}
.upcoming_mag_Btn2:hover{
    color: #fff;
}
.magazin_covers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    margin-top: 40px;
}
.mag{
    border-radius: 10px;
}
.mag img{
    border-radius: 10px 10px 0 0;
}

.aboutLander2fx{
    width: 100%;
    min-height: 500px;
    align-items: center;
    background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.6)),url(../Css/Images/andrea-mininni-VLlkOJdzLG0-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    z-index: 1 !important;
    border-radius: 10px;
    padding: 35px;
    padding-top: 70px;
}
.aboutLander2fx.x_2{
    width: 100%;
    min-height: 500px;
    align-items: center;
    background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.6)),url(../Css/Images/halil-ibrahim-cetinkaya-lbBrOujiO-Q-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    z-index: 1 !important;
    border-radius: 10px;
    padding: 35px;
    padding-top: 70px;
}
.aboutLander2fx.x_3{
    width: 100%;
    min-height: 500px;
    align-items: center;
    background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.6)),url(../Css/Images/md-duran-rE9vgD_TXgM-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    z-index: 1 !important;
    border-radius: 10px;
    padding: 35px;
    padding-top: 70px;
}
.eventGridContainer{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
.evntCont{
    border-radius: 10px;
}
.evntCont img{
    border-radius: 10px 10px 0 0 ;
}
.upcoming_Eevent_btn{
    display: block;
    text-align: center;
    padding: 8px 20px;
    color: #fff;
    background-color: #005BAA;
    border-radius: 7px;
}
.upcoming_Eevent_btn:hover{
    color: #fff;
}
.eventImgContainer img{
    max-height: 500px;
    width: 100%;
    border-radius: 10px;
}
.eventIckets_btn{
    background-color: #005BAA;
    color: #fff;
    border-radius: 4px;
    padding: 8px 20px;
    max-width: 180px;
    text-align: center;
    display: block;
    margin-top: 10px;
}
.standardEvent{
    max-width: 800px;
    width: 100%;
}
.mageHeaderss{
    background-color: #CF5271;
    border-radius: 10px;
    padding: 20px;
    display: flex;
}













