.aboutLander2{
    width: 100%;
    min-height: 500px;
    align-items: center;
    background: linear-gradient(to right, #fff, #FAD4C1);
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 35px;
}
.border_radius{
    border-radius: 10px;
}
.border_filter{
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.borderRight{
    border-right: 1px solid #f1f1f1;
}
.borderRight:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.shop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 40px;
}
.shop_item{
    border-radius: 10px;
    background-color: #fff;
    padding: 4px;
}
.shop_description{
    background-color: rgb(189,18,61,.1);
    border-radius: 10px;
    padding: 20px
}
.add_to_cart{
    background-color: rgb(189,18,61,.7);
    border-radius: 100%;
    height: 30px;
    width: 30px;
    color: #fff;
    align-items: center;
    font-size: 24px;
    position: relative;
}
.add_to_cart div{
    position: absolute;
    top: -5px;
    left: 7px;
}

.townHall div:first-child{
    background-color: blue;
    color: blue;
}
.different.from.balaBlue{
    color: #3491E8;
}
.clothes .shop_description{
    background-color: rgb(52,145,232,.1);
}

.clothes .add_to_cart{
    background-color: rgb(52,145,232,.7);
}
.clothes .red{
    color: #3491E8;
}
.blue{
    color: #3491E8;
}

.haefa .carousel-indicators button{
    width: 5px !important;
    border-radius: 100%;
}
.haefa .carousel-control-prev-icon,.carousel-control-next-icon{
    display: none !important;
}

.homeBased .carousel-indicators button,
.reviews .carousel-indicators button{
    display: none !important;
}
.homeBased .carousel-control-prev-icon,.carousel-control-next-icon{
    display: none !important;
}
.homeBased .carousel-control-prev,
.homeBased .carousel-control-next {
    display: none;
}
.aboutLander2 img{
    max-height: 406px;
}
.aboutLander2.xdf{
    background: linear-gradient(to right,#fff, #fff);
}
.classLanding_page{
    background: linear-gradient(to right, rgb(52,145,232,.09), #fff);
    width: 100%;
    min-height: 400px;
    
    padding: 35px;
}
.classDivider{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    max-width: 900px;
    margin: 0 auto;
}
.ClassHeader{
    font-size: 40px;
    font-weight: 200;
    line-height: 1.2;
}
.classesDescHeader{
    line-height: 1.2;
    font-size: 35px;
    font-weight: 800;
}
.diveid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    position: absolute;
    bottom: -160px;
}
.text_align_center{
    padding-top: 40px;
}
.diveid img{
    max-width: 180px;
    border-radius: 4px;
}
.model_class_CONtainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 40px;
}
.mageHeader{
    background-color: #3491E8;
    border-radius: 10px;
    padding: 20px;
    display: flex;
}
.upcoming_mag_Btn2{
    color: #fff;
    background-color: rgb(207,12,54,.9);
    display: inline-block;
    max-width: 150px;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    padding: 8px 20px;
}
.upcoming_mag_Btn2:hover{
    color: #fff;
}
.magazin_covers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    margin-top: 40px;
}
.mag{
    border-radius: 10px;
}
.mag img{
    border-radius: 10px 10px 0 0;
}

.aboutLander2fx{
    width: 100%;
    min-height: 500px;
    align-items: center;
    background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.6)),url(../Css/Images/andrea-mininni-VLlkOJdzLG0-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    z-index: 1 !important;
    border-radius: 10px;
    padding: 35px;
    padding-top: 70px;
}
.aboutLander2fx.x_2{
    width: 100%;
    min-height: 500px;
    align-items: center;
    background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.6)),url(../Css/Images/halil-ibrahim-cetinkaya-lbBrOujiO-Q-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    z-index: 1 !important;
    border-radius: 10px;
    padding: 35px;
    padding-top: 70px;
}
.aboutLander2fx.x_3{
    width: 100%;
    min-height: 500px;
    align-items: center;
    background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.6)),url(../Css/Images/md-duran-rE9vgD_TXgM-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    z-index: 1 !important;
    border-radius: 10px;
    padding: 35px;
    padding-top: 70px;
}
.eventGridContainer{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
.evntCont{
    border-radius: 10px;
}
.evntCont img{
    border-radius: 10px 10px 0 0 ;
}
.upcoming_Eevent_btn{
    display: block;
    text-align: center;
    padding: 8px 20px;
    color: #fff;
    background-color: #3491E8;
    border-radius: 7px;
    border: none;
    width: 100%;
}
.upcoming_Eevent_btn:hover{
    color: #fff;
}
.eventImgContainer img{
    max-height: 500px;
    width: 100%;
    border-radius: 10px;
}
.eventIckets_btn{
    background-color: #3491E8;
    color: #fff;
    border-radius: 4px;
    padding: 8px 20px;
    max-width: 180px;
    text-align: center;
    display: block;
    margin-top: 10px;
}
.standardEvent{
    max-width: 800px;
    width: 100%;
}
.mageHeaderss{
    background-color: #CF5271;
    border-radius: 10px;
    padding: 20px;
    display: flex;
}
.modelling{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.first_side{
    background-color: rgb(52,145,232,.1);
    height: 90vh;
    display: flex;
}
.first_sideContent{
    max-width: 450px;
    margin: 12vh 0 0 auto;
    height: 425px;
    background-color: #fff;
    width: 100%;
    position: relative;
    padding: 50px;
}
.first_side2{
    height: 90vh;
    display: flex;
    background-color: rgb(207,12,54,.08);
}
.second_sideContent{
    max-width: 450px;
    margin: 12vh auto 0 0;
    height: 425px;
    width: 100%;
    position: relative;
}
.second_sideContent img{
    width: 100%;
    height: 100%;
}
.ModelsHeaderCont_ents{
    font-size: 50px;
    font-weight: 800;
    line-height: 1;
    margin-top: 15%;
    color: black;
}
.modeling_BTN{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(52,145,232,.9);
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 175px;
    width: 100%;
    text-align: center;
    padding: 14px ;
}
.modeling_BTN2{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #3491E8;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 40px;
    width: 100%;
    text-align: center;
    padding: 14px ;
}
.modeling_BTN:hover{
    color: #ffffff;
}


.modeling_BTN3{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(207,12,54,.9);
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 175px;
    width: 100%;
    text-align: center;
    padding: 14px ;
}
.modeling_BTN5{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #CF0C36;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 40px;
    width: 100%;
    text-align: center;
    padding: 14px ;
}
.cart_container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}
.cart_body{
    background-color: #fff;
    border-radius: 7px;
    padding: 10px 0 30px 0;
}
.cart_body2{
    background-color: #fff;
    border-radius: 7px;
    padding: 10px 0 0 0;
}
.cart_divider{
    border-bottom: 1px solid #eceefc;
    padding: 15px;
}
.cart_dividers{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.cart_dividersheck{
    display: grid;
    grid-template-columns: 2fr 5fr;
}
.cart_headerTit{
    font-size: 19px;
    font-weight: 700;
    padding: 0 15px 5px 15px;
    border-bottom: 2px solid #eceefc;
}
.xs .cart_divider button{
    border-radius: 5px;
    background-color: #3491E8;
    padding: 0 5px;
    color: #fff;
    width: 25px;
    display: block;
    text-align: center;
    border: none;
}
.cart_dividers img,.cart_dividersheck img{
    border-radius: 5px;
    max-height: 170px;
    color: #eceefc;
}
.cart_divider input{
    max-width: 500px;
    width: 100%;
    border: 2px solid #ECEEFC;
    padding: 8px 10px;
    border-radius: 7px;
}
.cart_divider input.error{
    border: 2px solid #CF5271;
}
.submitHandlerBtn{
    background-color: #3491E8;
    color: #fff;
    padding: 7px 20px;
    max-width: 150px;
    text-align: center;
    display: inline-block;
    width: 100%;
    border: none;
    border-radius: 5px;
}
.ItemsDetail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
}
.divItemsOption{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 0;
}
.divItemsOption div{
    padding: 10px;
}
.divItemsOption img{
    border-radius: 4px;
}
.divItemsOption img:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.detailRightN{
    padding-left: 100px;
}
.detailCartAdd{
    border-radius: 40px;
    display: flex;
    background-color: #f1f1f1;
    max-width: 300px;
}
.detailCartAdd span{
    font-size: 26px;
    padding: 8px 30px 14px 30px;
    display: inline-block;
}
.detailCartAdd samp{
    font-size: 22px;
    padding: 14px 10px 6px 10px;
    display: inline-block;
}
.AddToCartDetailsBtn{
    padding: 13px 20px;
    border: none;
    border-radius: 30px;
    max-width: 180px;
    width: 100%;
    text-align: center;
    background-color: #3491E8;
    color: #fff;
}


.loginFormBg{
    background-color: #EFF0F4;
    height: 90vh;
}
.loginFormBg2{
    background-color: #EFF0F4;
}

.loginContainerBox3{
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    margin: auto;
    padding: 40px;
    border-radius: 7px;
}
.paddForm{
    padding: 90px 0;
}
.loginContainerBox3 input,
.registerContent input{
    margin: 15px 0;
    padding: 9px 10px;
    display: block;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ccc7c7;
}
.loginContainerBox3 input.xb,
.registerContent input.xb{
    border: none;
    margin: 0;

}
.passwordFormContainer{
    display: flex;
    margin: 15px 0;
    /* padding: 9px 10px; */
    border-radius: 4px;
    border: 1px solid #ccc7c7;
}
.sight{
    padding-top: 9px;
    padding-right: 5px;
}
.loginContainerBox3 button{
    background-color: #3491E8;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    border: none;
    padding: 9px;
}
.signUpFormContainer button{
    background-color: #3491E8;
    color: #fff;
    border-radius: 4px;
    max-width: 200px;
    border: none;
    padding: 9px;
    width: 100%;
}
.signUpFormContainer{
    margin: 10px auto;
    max-width: 1200px;
    background-color: #fff;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
}

.signUpForms{
    padding: 60px 100px 60px 60px;
}
.classics img{
    border-radius: 5px;
}
.borrad{
    border: 0.5px solid #f1f1f1;
}